<ion-header>
  <ion-toolbar class="align">
    <ion-buttons slot="start">
      <ion-icon (click)="goBack()" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Cadastre-se
    </ion-title>
  </ion-toolbar>
  <div class="outline"></div>
</ion-header>
<ion-content>
  <p [hidden]="step === 0" style="width: 100%;text-align: center;color: grey;">
    {{translate(user.type)}}
  </p>
  <img class="ellipsis" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <img class="ellipsis-b" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper-b" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <div class="step" [hidden]="!(step === 0)">
    <p>
      Eu sou:
    </p>
    <div class="select" (click)="selectType()">
      <input [value]="translate(user.type)" placeholder="Selecione o tipo" readonly/>
      <ion-icon name="chevron-down-outline"></ion-icon>
      <div style="transition: all .4s;" class="select-inner closed-select" id="select" tabindex="0" (focus)="triggerSelect()" (blur)="triggerSelect()">
        <span tabindex="0" (click)="pickType($event, 'buyer')">
          Comprador
        </span>
        <span tabindex="0" (click)="pickType($event, 'merchant')">
          Comerciante
        </span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="user.type === 'merchant'">
    <div class="step" [hidden]="!(step === 1)">
      step 1
    </div>
    <div class="step" [hidden]="!(step === 2)">
      step 2
    </div>
    <div class="step" [hidden]="!(step === 3)">
      step 3
    </div>
  </ng-container>
  <ng-container *ngIf="user.type === 'buyer'">
    <div class="step" [hidden]="!(step === 1)">
      step 1
    </div>
  </ng-container>
  <button *ngIf="user.type" (click)="next()">Continuar</button>
</ion-content>