.outline {
    background: #7ec16c;
    height: 1px;
    width: 100%;
}

.align {
    --background: #121212;
    --color: #959595;
    text-align: center;
    font-weight: lighter;
}

ion-buttons {
    position: absolute;
    ion-icon {
        font-size: 2em;
    }
}

ion-content > div {
    display: flex;
    height: calc(100% - 114px);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.ellipsis {
    position: absolute;
    top: 10%;
    right: 0;
    width: 100px;
    height: 100px;
    right: -50px;
    transform: translateY(50%);
}

.ellipsis-wrapper {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    right: -100px;
    animation: rotating 16s linear infinite;
}

.ellipsis-b {
    z-index: -1;
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100px;
    height: 100px;
    left: -50px;
    transform: translateY(50%);
}

.ellipsis-wrapper-b {
    z-index: -1;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60vh;
    left: -100px;
    animation: rotating 16s linear infinite;
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.select {
    z-index: 99;
    width: 80%;
    position: relative;
    color: #7ec16c;
    input {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #7ec16c;
        width: 100%;
        line-height: 3em;
        text-align: center;
        text-transform: uppercase;
    }
    ion-icon {
        position: absolute;
        right: 0;
        top: calc(50% - 0.5em);
        font-size: 2em;
    }
}

.select-inner {
    position: absolute;
    top: 0;
    background-color: #222121;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 4px;
    box-shadow: -1px 1px 12px 0px #0000009c;
    * {
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        line-height: calc(3em + 3px);
        border-bottom: 1px solid #ffffff21;
        &:last-child {
            border: 0;
        }
    }
}

.open-select {
    width: 100%;
    max-height: 200px;
}

.closed-select {
    top: 3em;
    width: 100%;
    max-height: 0;
}

button {
    padding: 0;
    line-height: 3em;
    background: linear-gradient(91.66deg, #6F7634 0%, #013E28 100%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 3px;
    width: 80%;
    position: absolute;
    bottom: 2em;
    font-size: 1em;
    font-weight: bolder;
    margin: 0 10% 0 10%;
}