.logo-align {
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 100vh;
    * {
        text-align: center;
    }
    .logo-align {
        margin-top: 10%;
        button, .input-box {
            position: relative;
            height: 3em;
            padding: 1em 0 1em 0;
            margin: 0.5em 0 1em 0;
            ion-icon {
                position: absolute;
                top: 2.5em;
                right: 1em;
            }
            input {
                border: 0;
                background: transparent;
                padding: 1em 0 0 0;
                margin: 0.5em 0 .5em 0;
                width: 100%;
            }
        }
        input {
            border: 0;
            background: transparent;
            padding: 1em 0 0 0;
            margin: 0.5em 0 .5em 0;
        }
        button {
            padding: 0;
            line-height: 3em;
            background: linear-gradient(91.66deg, #6F7634 0%, #013E28 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            div {
                background: var(--background);
                margin: 1px;
                height: calc(100% - 2px);
                width: calc(100% - 2px);
            }
        }
    }
}

.aux-divider {
    background: #7ec16c;
    height: 1px;
    width: 100%;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.ellipsis {
    position: absolute;
    top: 10%;
    right: 0;
    width: 100px;
    height: 100px;
    right: -50px;
    transform: translateY(50%);
}

.ellipsis-wrapper {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    right: -100px;
    animation: rotating 16s linear infinite;
}

.ellipsis-b {
    z-index: -1;
    position: absolute;
    top: 60vh;
    left: 0;
    width: 100px;
    height: 100px;
    left: -50px;
    transform: translateY(50%);
}

.ellipsis-wrapper-b {
    z-index: -1;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60vh;
    left: -100px;
    animation: rotating 16s linear infinite;
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }