<ion-content>
  <img class="ellipsis" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <img class="ellipsis-b" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper-b" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <div class="logo-align">
    <div>
      <img src="assets/logo/logo.svg"/>
      <p>Boas vindas!</p>
    </div>
    <div class="logo-align">
      <section class="input-box">
        <input #user value="jorge" placeholder="USUÁRIO"/>
      </section>
      <div class="aux-divider"></div>
      <section class="input-box">
        <input #pass value="123" [type]="hidden ? 'password' : 'text'" placeholder="SENHA"/>
        <ion-icon [name]="!hidden ? 'eye-outline' : 'eye-off-outline'" (click)="hidden = !hidden"></ion-icon>
      </section>
      <div class="aux-divider"></div>
      <br/>
      <br/>
      <button (click)="authenticate()">Entrar</button>
      <button (click)="register()"><div>Cadastre-se</div></button>
    </div>
    <div>
      <a>Esqueci minha senha</a>
    </div>
  </div>
</ion-content>