p {
  color: white;
}

ion-slides {
    height: 100%;
    background: #2E2E33;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipsis {
  z-index: 999;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 100px;
  height: 100px;
  right: -50px;
  transform: translateY(50%);
}

.ellipsis-wrapper {
  z-index: 999;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10vh;
  right: -100px;
  animation: rotating 16s linear infinite;
}

.ellipsis-b {
  z-index: 999;
  position: absolute;
  top: 60vh;
  right: 0;
  width: 100px;
  height: 100px;
  left: -50px;
  transform: translateY(50%);
}

.ellipsis-wrapper-b {
  z-index: 999;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 60vh;
  left: -100px;
  animation: rotating 16s linear infinite;
}


ion-button {
  padding: 0;
  line-height: 3em;
  background: linear-gradient(91.66deg, #6F7634 0%, #013E28 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: white;
  position: absolute;
  width: 80%;
  bottom: 2em;
}