<ion-content>
  <img class="ellipsis" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <img class="ellipsis-b" src="assets/artifacts/ellipsis.svg"/>
  <img class="ellipsis-wrapper-b" src="assets/artifacts/ellipsis-wrapper.svg"/>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide fullscreen class="ion-padding" scroll-y="false">
      <div class="wrapper">
        <p>Reuna conosco a <span style="color: #B9FF61">praticidade</span> de comprar presencialmente sem as complicações desnecessárias!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="wrapper">
        <p>Reviva o <span style="color: #B9FF61">espírito de comunidade!</span></p>
      </div>
      <ion-button (click)="confirm()" expand="block" fill="clear" shape="round">
        ok
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>