<ion-tabs>
  <ion-tab-bar selectedTab="" slot="bottom" translucent="true">
    <ng-container *ngIf="type==='buyer'">
      <ion-tab-button tab="routes">
        <ion-icon src="/assets/icon/routes.svg"></ion-icon>
        <ion-label>Rotas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon src="/assets/icon/map.svg"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="user">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Usuário</ion-label>
      </ion-tab-button>
    </ng-container>
    <ng-container *ngIf="type==='merchant'">
      <ion-tab-button tab="history">
        <ion-icon src="/assets/icon/history.svg"></ion-icon>
        <ion-label>Histórico</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon src="/assets/icon/map.svg"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="user">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Usuário</ion-label>
      </ion-tab-button>
    </ng-container>
  </ion-tab-bar>
</ion-tabs>
