<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="round-button" shape="round" (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <input placeholder="Pesquisar próximo" class="searchbar"/>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rotas</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-button (click)="logoff()">Sair</ion-button>
</ion-content>
