ion-toolbar {
    width: calc(100% - 2em);
    position: absolute;
    top: 0;
    margin: 1em;
    border-radius: 25px;
}

.round-button {
    height: 3em;
    ion-icon {
        font-size: 2em;
    }
}

.menu {
    --max-width: 60% !important;
    --min-width: 60% !important;
    --width: 60% !important;
}

.searchbar {
    background: transparent;
    border: 0;
}

*:focus {
    outline: none;
}